@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  @apply font-poppins;
}

.hero {
  @apply h-screen flex items-center relative text-white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/main-bcg.jpeg') center/cover;
}

.trans-0 {
  @apply transition-all ease-linear duration-200;
}

.trans-1 {
  @apply transition-all ease-in-out duration-300;
}

.navbar {
  @apply flex justify-between items-center absolute top-0 w-full px-7 py-3;
}

.navbar-2 {
  @apply flex justify-between items-center w-full py-3 text-pry-clr-0;
}

.nav-links {
  @apply gap-10 text-[20px] hidden capitalize tracking-wider;
}

.nav-links a:hover {
  @apply text-pry-clr-2 transition-all ease-linear duration-500;
}

.hero-h1 {
  @apply text-[48px] font-kaushan font-semibold;
}

.hero-h3 {
  @apply text-[24px] mb-5;
}

.cart-no {
  @apply absolute -right-[10px] -top-[10px] bg-pry-clr-1 text-white font-semibold px-[5px] rounded-full;
}

.close-cart {
  @apply text-pry-clr-4 text-[25px] absolute top-4 left-5;
}

.open-sidebar {
  @apply block px-3 py-1 bg-pry-clr-1 text-[25px] rounded-full trans-1;
  animation: bounce 1.5s ease-in-out infinite;
}

.sidebar {
  @apply fixed top-0 h-screen w-screen place-items-center bg-pry-clr-z hidden;
}

.sidebar.show {
  @apply grid
}

.sidebar article {
  @apply relative bg-white rounded-md w-[90vw] max-w-[600px] h-[95vh] pl-10;
}

.sidebar button {
  @apply text-pry-clr-0 text-[25px] absolute top-4 right-5;
}

.sidebar div {
  @apply flex flex-col gap-5 mt-12 text-xl text-pry-clr-4 w-fit;
}

.sidebar-link {
  @apply flex gap-7 text-2xl
}

#sidebar-cart.show.overlay {
  @apply bg-pry-clr-z;
}

#sidebar-cart {
  @apply fixed top-0 z-[100] trans-0 grid place-items-end h-screen w-screen overlay;
}

#sidebar-cart-center {
  @apply relative px-[1rem] pt-[3rem] pb-0 bg-pry-clr-5 max-w-[400px] w-full h-full trans-1 overflow-scroll;
}

#sidebar-cart,
#sidebar-cart-center {
  transform: translate(100%);
}

#sidebar-cart.show,
#sidebar-cart-center.show {
  transform: translate(0);
}

.h-3 {
  @apply capitalize font-kaushan text-pry-clr-0 text-3xl;
}

.total-container {
  @apply mb-20 flex flex-col items-center gap-10;
}

.total-container button {
  @apply px-24 py-1 uppercase text-white rounded-md bg-pry-clr-1 trans-1;
}

.shop-btn {
  @apply trans-1 w-fit text-[14px] uppercase px-5 py-2 tracking-widest bg-transparent text-white border-[1px] border-white rounded-md;
}

.cart {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Products */
.btn-container button {
  @apply capitalize bg-transparent text-pry-clr-9 text-sm tracking-wide;
}

.btn-container button:hover {
  @apply text-pry-clr-11 transition-all ease-linear duration-300;
}

.all-products-btn {
  @apply px-10 py-1 bg-pry-clr-1 trans-0 uppercase text-white tracking-wider font-medium text-lg rounded-md mt-5;
}

.product .image-container {
  @apply w-[90vw] h-[15rem] overflow-hidden mb-4 relative;
}

.product .image-container img {
  @apply object-cover w-full h-full rounded-md;
}

.product .product-icon {
  @apply absolute z-[1] top-0 left-0 w-full h-full flex items-center justify-center gap-3;
}

.product .product-icon .show-prod {
  @apply text-lg px-2 py-1 bg-pry-clr-1 text-white rounded-full trans-1;
}

.product .product-icon .show-prod:hover {
  @apply bg-pry-clr-2;
}

.product footer p {
  @apply text-sm font-medium text-pry-clr-9 capitalize;
}

.product footer span {
  @apply text-xs font-semibold text-pry-clr-0;
}

.products-container {
  @apply w-full grid place-items-center text-center grid-cols-1 gap-[2rem] mb-10;
}

@media screen and (min-width: 900px) {
  .product .image-container {
    @apply w-[250px] h-[10rem];
  }

  #container-products {
    grid-template-columns: 200px 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .product .image-container {
    @apply w-[300px] h-[10rem];
  }
}

.btn {
  @apply capitalize bg-pry-clr-12 tracking-wider text-white text-sm rounded-md;
}

.link {
  @apply capitalize flex flex-col gap-3;
}

.link img {
  @apply object-cover w-[400px] h-[15rem] rounded-md overflow-hidden;
}

.foot h5 {
  @apply text-[20px] text-pry-clr-16 mb-1;
}

.foot span {
  @apply font-semibold text-[16px] text-pry-clr-15;
}

#container {
  @apply grid gap-12 px-12
}

#container img {
  @apply w-full object-cover rounded-md max-h-[20rem];
}

.sub-container {
  @apply flex flex-col items-start justify-center text-start gap-2;
}

.title {
  @apply text-3xl text-pry-clr-14 capitalize;
}

.subtitle {
  @apply text-[20px] tracking-wider text-pry-clr-16 capitalize;
}

.price {
  @apply text-sm;
}

.round-shape span {
  @apply inline-block rounded-full w-[1rem] h-[1rem] mr-2;
}

.texts {
  @apply leading-[28px] font-light mb-3 text-pry-clr-14;
}

.trans {
  @apply transition-all ease-linear duration-300;
}

.product-cart {
  @apply px-3 py-1 btn trans;
}

.product-cart:hover {
  @apply bg-pry-clr-13;
}

/* Loading Spin with Animations */

.loading-spin {
  @apply w-[250px] h-[250px] relative grid place-items-center text-[2rem] overflow-hidden;
  animation: dis-appear 2s ease-in-out infinite;
}

.spin-sector {
  border: 15px solid transparent;
  animation: rotate var(--duration) var(--timing) infinite;
  @apply absolute w-full h-full mix-blend-overlay rounded-[50%] pointer-events-none;
}

.spin-sector-1 {
  border-top-color: lightblue;
  --timing: ease-in-out;
  --duration: 0.75s;
}

.spin-sector-2 {
  border-left-color: purple;
  --timing: ease-in-out;
  --duration: 1.25s;
}

.spin-sector-3 {
  border-right-color: lightcoral;
  --timing: ease-in-out;
  --duration: 1.5s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dis-appear {

  0%,
  100% {
    color: rgba(201, 198, 198, 1)
  }

  25%,
  75% {
    color: rgba(201, 198, 198, 0.5)
  }

  50% {
    color: rgba(201, 198, 198, 0.1)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}